{% load static %}

<nav id="navmenu" class="navmenu">
  <ul>
    <li><a href="/">Home<br></a></li>
    <li><a href="/about-us/">About Us<br></a></li>
    <li><a href="/contact-us/">Contact Us<br></a></li>
    <li><a href="/dashboard/">Dashboard<br></a></li>
    <li><a href="/our-team/">Our Team<br></a></li>
  </ul>
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>

<style>
  #navmenu ul li a {
    color: #fff !important;
    text-decoration: none;
  }

  #navmenu ul li a:hover {
    color: #e50914 !important;
  }
</style>
